<h2>Eventos</h2>
<hr />

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar" />
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()"
        >
          {{ imagemVisivel ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  @if (eventos && eventos.length) {
  <tbody>
    @for (evento of eventos; track $index) {
    <tr>
      <td>
        <img
          [collapse]="!imagemVisivel"
          [isAnimated]="true"
          src="/{{ evento.imagemUrl }}"
          loading="lazy"
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtd }}</td>
      <td>{{ evento.lote }}</td>
      <td>Opções</td>
    </tr>
    }
  </tbody>
  } @else {
  <tfoot>
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
  }
</table>
